<div id="ans-id-<%= answer.id %>">
   
    <%= render partial: "votes/vote", locals:{var: answer, path: answer_vote_path(answer)} %>
    
    <% if user_signed_in? && current_user == answer.user %>
    
    <% end %>
</div>